# Lesson 26: Working with Excel

In [1]:
import pandas as pd
import numpy as np

In [5]:
# I can easily read an excel file. But because I only need to work with one sheet, I have to specify its name:
# "sheet_name="name_of_sheet"" (or I can give the number of sheet, here =1)

pd.read_excel("PC_Vehicles-in-use.xlsx", sheet_name = 1)

,REGIONS/COUNTRIES,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,AUSTRIA,4157.000,4205.000,4246.000,4285.000,4360.000,4441.000,4513.000,4584.000,4641.308,4694.921,4748.048
1,BELGIUM,4861.000,4929.000,5006.000,5087.000,5160.000,5279.000,5359.000,5393.000,5439.295,5511.080,5587.415
2,DENMARK,1971.000,2026.000,2075.000,2105.000,2126.000,2169.000,2203.000,2240.000,2279.792,2321.172,2392.079
3,FINLAND,2414.477,2489.287,2480.880,2449.722,2449.604,2486.283,2532.496,2560.190,2575.951,2595.867,2612.922
4,FRANCE,30100.000,30400.000,30700.000,30850.000,31050.000,31300.000,31550.000,31600.000,31650.000,31800.000,32000.000
5,GERMANY,46090.000,46570.000,41184.000,41321.000,41738.000,42302.000,42928.000,43431.000,43851.230,44403.124,45071.209
6,GREECE,4303.129,4543.016,4798.530,5023.944,5131.960,5216.873,5203.591,5167.557,5124.208,5102.203,5104.908
7,ICELAND,187.000,197.000,208.000,210.000,205.000,205.000,206.112,210.070,213.113,217.454,226.321
8,IRELAND,1662.157,1778.861,1882.901,1924.281,1902.429,1872.715,1887.810,1882.550,1910.165,1943.868,1985.130
9,ITALY,34667.000,35297.000,35680.000,36105.000,36372.000,36751.000,37113.000,37078.000,36962.934,37080.753,37351.233
10,LUXEMBOURG,307.000,315.000,322.000,329.000,332.000,337.000,346.000,355.850,363.247,372.827,380.860
11,NETHERLANDS,7092.000,7230.000,7392.000,7542.000,7622.000,7736.000,7859.000,7915.613,8154.000,8193.000,8336.000
12,NORWAY,2029.000,2085.000,2155.000,2198.000,2243.000,2305.000,2370.000,2433.000,2487.353,2539.552,2592.390
13,PORTUGAL,4200.000,4290.000,4379.000,4408.000,4457.000,4480.000,4522.000,4497.000,4480.000,4496.000,4593.156
14,SPAIN,20250.000,21053.000,21760.000,22145.000,21983.000,22147.000,22277.000,22248.000,22024.538,22029.512,22355.549
15,SWEDEN,4154.000,4202.000,4258.000,4279.000,4301.000,4335.000,4401.000,4447.000,4495.473,4585.519,4669.063
16,SWITZERLAND,3906.000,3946.000,4002.584,4031.205,4051.832,4119.684,4209.672,4300.036,4366.895,4430.375,4503.865
17,UNITED KINGDOM,30477.058,30817.036,31105.988,31252.476,31035.791,31258.197,31362.716,31482.000,32103.000,32612.782,33542.448

In [7]:
# Or I can work with 3 sheets, and then I have to specify a list, but the outcome will show up as a dictionary:

sheets = pd.read_excel("PC_Vehicles-in-use.xlsx", sheet_name = [1,2,3])
sheets

{1:    REGIONS/COUNTRIES       2005       2006       2007       2008       2009  \
 0            AUSTRIA   4157.000   4205.000   4246.000   4285.000   4360.000
 1            BELGIUM   4861.000   4929.000   5006.000   5087.000   5160.000
 2            DENMARK   1971.000   2026.000   2075.000   2105.000   2126.000
 3            FINLAND   2414.477   2489.287   2480.880   2449.722   2449.604
 4             FRANCE  30100.000  30400.000  30700.000  30850.000  31050.000
 5            GERMANY  46090.000  46570.000  41184.000  41321.000  41738.000
 6             GREECE   4303.129   4543.016   4798.530   5023.944   5131.960
 7            ICELAND    187.000    197.000    208.000    210.000    205.000
 8            IRELAND   1662.157   1778.861   1882.901   1924.281   1902.429
 9              ITALY  34667.000  35297.000  35680.000  36105.000  36372.000
 10        LUXEMBOURG    307.000    315.000    322.000    329.000    332.000
 11       NETHERLANDS   7092.000   7230.000   7392.000   7542.000   7622.000
 12            NORWAY   2029.000   2085.000   2155.000   2198.000   2243.000
 13          PORTUGAL   4200.000   4290.000   4379.000   4408.000   4457.000
 14             SPAIN  20250.000  21053.000  21760.000  22145.000  21983.000
 15            SWEDEN   4154.000   4202.000   4258.000   4279.000   4301.000
 16       SWITZERLAND   3906.000   3946.000   4002.584   4031.205   4051.832
 17    UNITED KINGDOM  30477.058  30817.036  31105.988  31252.476  31035.791

          2010       2011       2012       2013       2014       2015
 0    4441.000   4513.000   4584.000   4641.308   4694.921   4748.048
 1    5279.000   5359.000   5393.000   5439.295   5511.080   5587.415
 2    2169.000   2203.000   2240.000   2279.792   2321.172   2392.079
 3    2486.283   2532.496   2560.190   2575.951   2595.867   2612.922
 4   31300.000  31550.000  31600.000  31650.000  31800.000  32000.000
 5   42302.000  42928.000  43431.000  43851.230  44403.124  45071.209
 6    5216.873   5203.591   5167.557   5124.208   5102.203   5104.908
 7     205.000    206.112    210.070    213.113    217.454    226.321
 8    1872.715   1887.810   1882.550   1910.165   1943.868   1985.130
 9   36751.000  37113.000  37078.000  36962.934  37080.753  37351.233
 10    337.000    346.000    355.850    363.247    372.827    380.860
 11   7736.000   7859.000   7915.613   8154.000   8193.000   8336.000
 12   2305.000   2370.000   2433.000   2487.353   2539.552   2592.390
 13   4480.000   4522.000   4497.000   4480.000   4496.000   4593.156
 14  22147.000  22277.000  22248.000  22024.538  22029.512  22355.549
 15   4335.000   4401.000   4447.000   4495.473   4585.519   4669.063
 16   4119.684   4209.672   4300.036   4366.895   4430.375   4503.865
 17  31258.197  31362.716  31482.000  32103.000  32612.782  33542.448  ,
 2:    REGIONS/COUNTRIES       2005       2006       2007       2008       2009  \
 0           BULGARIA   2538.000   1768.000   2082.000   2366.000   2502.000
 1            CROATIA   1385.000   1436.000   1491.000   1535.000   1533.000
 2             CYPRUS    355.000    373.000    411.000    444.000    461.000
 3     CZECH REPUBLIC   3959.000   4109.000   4280.000   4423.000   4435.000
 4            ESTONIA    493.800    554.000    523.800    551.800    545.700
 5            HUNGARY   2889.000   2954.000   3012.000   3055.427   3013.719
 6             LATVIA    742.447    822.011    904.869    932.828    904.308
 7          LITHUANIA   1455.276   1592.238   1587.903   1671.065   1695.286
 8              MALTA    206.000    212.000    218.000    222.000    227.000
 9             POLAND  12339.000  13384.000  14589.000  16080.000  16495.000
 10           ROMANIA   3364.000   3221.000   3554.000   4027.000   4245.000
 11          SLOVAKIA   1304.000   1334.000   1434.000   1545.000   1589.000
 12          SLOVENIA    964.781    985.567   1020.127   1051.836   1065.927

          2010       2011       2012       2013       2014       2015
 0    2602.000   2694.000   2806.814   2910.235   3013.863   3162.037
 1    1515.000   1518.000   1445.220   1448.299   1474.495   1499.802
 2     463.000    470.000    475.000    474.561    478.492    487.692
 3    4496.000   4583.000   4699.000   4820.299   4937.206   5158.516
 4     552.700    574.015    602.133    628.500    653.000    676.600
 5    2984.063   2967.808   2986.028   3040.732   3107.695   3196.856
 6     636.664    612.321    618.274    634.603    657.799    679.048
 7    1691.855   1713.277   1753.407   1808.982   1205.668   1244.063
 8     234.000    240.000    249.612    256.096    265.950    275.380
 9   17240.000  17872.000  18744.000  19342.120  19978.589  20688.174
 10   4320.000   4335.000   4487.000   4693.651   4905.630   5153.182
 11   1669.000   1749.000   1826.000   1882.577   1952.002   2037.772
 12   1068.932   1074.109   1073.967   1071.922   1076.962   1087.686  ,
 3:   REGIONS/COUNTRIES       2005       2006       2007       2008       2009  \
 0           ALBANIA    195.125    225.114    237.932    264.828    281.236
 1           BELARUS   1824.000   2027.000   2180.000   2293.000   2442.620
 2            BOSNIA    555.000    579.000    624.000    673.000    694.000
 3           GEORGIA    340.000    382.000    428.000    501.000    536.000
 4         MACEDONIA    253.000    242.000    248.774    263.112    282.196
 5          MOLDAVIA    292.994    319.311    338.944    366.351    386.365
 6            RUSSIA  25570.000  26794.000  29405.000  32021.000  33084.000
 7            SERBIA   1497.418   1526.946   1491.216   1500.182   1650.477
 8            TURKEY   5773.000   6141.000   6472.000   6797.000   7094.000
 9           UKRAINE   5539.000   5604.000   5940.000   6394.000   6519.000

         2010       2011       2012       2013       2014       2015
 0    294.729    300.974    297.341    341.691    378.053    403.680
 1   2601.415   2750.548   2748.575   2777.918   2942.603   3037.213
 2    724.787    735.258    612.771    673.014    801.253    828.730
 3    577.000    625.000    673.000    738.000    821.000    894.700
 4    310.231    313.080    301.761    346.798    371.449    383.833
 5    404.290    426.973    456.379    487.418    512.561    529.813
 6  34354.000  36415.000  38482.000  41224.527  43383.783  44253.108
 7   1565.550   1677.510   1726.190   1770.206   1797.252   1833.219
 8   7545.000   8113.000   8649.000   9283.923   9857.915  10589.337
 9   6770.000   6901.000   7136.000   7347.000   7340.000   7400.000  }

In [8]:
# To call an element of the dictionary:

sheets[1]

# Note that "1" is a key here, and I used it because it was also use when importing the file.
# If I use names of the sheets when importing data, I should also use these names as keys.

,REGIONS/COUNTRIES,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,AUSTRIA,4157.000,4205.000,4246.000,4285.000,4360.000,4441.000,4513.000,4584.000,4641.308,4694.921,4748.048
1,BELGIUM,4861.000,4929.000,5006.000,5087.000,5160.000,5279.000,5359.000,5393.000,5439.295,5511.080,5587.415
2,DENMARK,1971.000,2026.000,2075.000,2105.000,2126.000,2169.000,2203.000,2240.000,2279.792,2321.172,2392.079
3,FINLAND,2414.477,2489.287,2480.880,2449.722,2449.604,2486.283,2532.496,2560.190,2575.951,2595.867,2612.922
4,FRANCE,30100.000,30400.000,30700.000,30850.000,31050.000,31300.000,31550.000,31600.000,31650.000,31800.000,32000.000
5,GERMANY,46090.000,46570.000,41184.000,41321.000,41738.000,42302.000,42928.000,43431.000,43851.230,44403.124,45071.209
6,GREECE,4303.129,4543.016,4798.530,5023.944,5131.960,5216.873,5203.591,5167.557,5124.208,5102.203,5104.908
7,ICELAND,187.000,197.000,208.000,210.000,205.000,205.000,206.112,210.070,213.113,217.454,226.321
8,IRELAND,1662.157,1778.861,1882.901,1924.281,1902.429,1872.715,1887.810,1882.550,1910.165,1943.868,1985.130
9,ITALY,34667.000,35297.000,35680.000,36105.000,36372.000,36751.000,37113.000,37078.000,36962.934,37080.753,37351.233
10,LUXEMBOURG,307.000,315.000,322.000,329.000,332.000,337.000,346.000,355.850,363.247,372.827,380.860
11,NETHERLANDS,7092.000,7230.000,7392.000,7542.000,7622.000,7736.000,7859.000,7915.613,8154.000,8193.000,8336.000
12,NORWAY,2029.000,2085.000,2155.000,2198.000,2243.000,2305.000,2370.000,2433.000,2487.353,2539.552,2592.390
13,PORTUGAL,4200.000,4290.000,4379.000,4408.000,4457.000,4480.000,4522.000,4497.000,4480.000,4496.000,4593.156
14,SPAIN,20250.000,21053.000,21760.000,22145.000,21983.000,22147.000,22277.000,22248.000,22024.538,22029.512,22355.549
15,SWEDEN,4154.000,4202.000,4258.000,4279.000,4301.000,4335.000,4401.000,4447.000,4495.473,4585.519,4669.063
16,SWITZERLAND,3906.000,3946.000,4002.584,4031.205,4051.832,4119.684,4209.672,4300.036,4366.895,4430.375,4503.865
17,UNITED KINGDOM,30477.058,30817.036,31105.988,31252.476,31035.791,31258.197,31362.716,31482.000,32103.000,32612.782,33542.448

In [14]:
# Exporting excel data is not as easy as csv files. We need to first create an object which will be
# writing our modified data to new excel file:

excelWriter = pd.ExcelWriter("cars.xlsx")

# Now I can export data:

sheets[1].to_excel(excelWriter, index = False, columns = ["REGIONS/COUNTRIES",2010], sheet_name = "OldEurope2010")

sheets[1].to_excel(excelWriter, index = False, columns = ["REGIONS/COUNTRIES",2011], sheet_name = "OldEurope2011")

# and necessarily save them:

excelWriter.save()